force-app/main/default/flows/Chat_with_suggested_Account_handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_chatter</name>
        <label>Post to chatter</label>
        <locationX>446</locationX>
        <locationY>887</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hey @[{!SuggestedUser.Id}], this seems like your turf.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>In_First_Half_Of_Alphabet</name>
        <label>In first half of alphabet?</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>In_France</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Second Half</defaultConnectorLabel>
        <rules>
            <name>Outcome_first_half_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountInitialInFirstHalfOfAlphabet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_the_USA</targetReference>
            </connector>
            <label>First Half</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_France</name>
        <label>In France?</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Suggest_Chatter_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outside France</defaultConnectorLabel>
        <rules>
            <name>Outcome_in_France_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suggest_Integration_User</targetReference>
            </connector>
            <label>In France</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_the_USA</name>
        <label>In the USA?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Suggest_Security_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outside the USA</defaultConnectorLabel>
        <rules>
            <name>Outcome_in_the_USA_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suggest_Sysadmin</targetReference>
            </connector>
            <label>In the USA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountInitial</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Name}, 1)</expression>
    </formulas>
    <formulas>
        <description>A-M</description>
        <name>AccountInitialInFirstHalfOfAlphabet</name>
        <dataType>Boolean</dataType>
        <expression>LOWER({!AccountInitial}) &lt; &apos;n&apos;</expression>
    </formulas>
    <interviewLabel>DEMO 02 - Chat with suggested Account handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEMO 02 - Chat with suggested Account handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Suggest_Chatter_User</name>
        <label>Suggest Chatter User</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chatter</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SuggestedUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Suggest_Integration_User</name>
        <label>Suggest Integration User</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>integ</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SuggestedUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Suggest_Security_User</name>
        <label>Suggest Security User</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sec</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SuggestedUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Suggest_Sysadmin</name>
        <label>Suggest Sysadmin</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UUser</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SuggestedUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>In_First_Half_Of_Alphabet</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SuggestedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
