force-app/main/default/flows/Show_Sample_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>In_First_Half_Of_Alphabet</name>
        <label>In first half of alphabet?</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>In_France</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Second Half</defaultConnectorLabel>
        <rules>
            <name>Outcome_first_half_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountInitialInFirstHalfOfAlphabet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_the_USA</targetReference>
            </connector>
            <label>First Half</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_France</name>
        <label>In France?</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Suggest_Chatter_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outside France</defaultConnectorLabel>
        <rules>
            <name>Outcome_in_France_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Details.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suggest_Integration_User</targetReference>
            </connector>
            <label>In France</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_the_USA</name>
        <label>In the USA?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Suggest_Security_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outside the USA</defaultConnectorLabel>
        <rules>
            <name>Outcome_in_the_USA_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Details.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suggest_Sysadmin</targetReference>
            </connector>
            <label>In the USA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountInitial</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Account_Details.Name}, 1)</expression>
    </formulas>
    <formulas>
        <description>A-M</description>
        <name>AccountInitialInFirstHalfOfAlphabet</name>
        <dataType>Boolean</dataType>
        <expression>LOWER({!AccountInitial}) &lt; &apos;n&apos;</expression>
    </formulas>
    <interviewLabel>DEMO 01 - Show Sample Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEMO 01 - Show Sample Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>In_First_Half_Of_Alphabet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountSearchResult.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Suggest_Chatter_User</name>
        <label>Suggest Chatter User</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sample_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chatter</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SuggestedUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Suggest_Integration_User</name>
        <label>Suggest Integration User</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sample_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>integ</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SuggestedUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Suggest_Security_User</name>
        <label>Suggest Security User</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sample_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sec</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SuggestedUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Suggest_Sysadmin</name>
        <label>Suggest Sysadmin</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sample_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UUser</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SuggestedUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Alias</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Prompt_For_Account_Search</name>
        <label>Prompt for Account search</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <fields>
            <name>AccountSearchResult</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Search Result</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sample_Screen</name>
        <label>Sample Screen</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Sample_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sample_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Account_Details.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Initial:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!AccountInitial}&lt;/p&gt;&lt;p&gt;&lt;em&gt;(&lt;/em&gt;&lt;strong&gt;&lt;em&gt;In first half of alphabet:&lt;/em&gt;&lt;/strong&gt;&lt;em&gt;  {!AccountInitialInFirstHalfOfAlphabet})&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Billing Country:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Account_Details.BillingCountry}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account_Details.BillingCountryCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Suggested User Alias:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!SuggestedUser.Alias}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prompt_For_Account_Search</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SuggestedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
